body {
	background-image: url ("assets/images/disney2.jpg");
}

#wrapper {
	background-color: lightblue ;
    margin-right: 55%;
    padding-left: 3%;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    margin-top: 5%;
    border-style: solid;
}

#allQuestions {
    display:none;
}

#answers {
    display:none;
}